ff_website/__pycache__
__pycache__/
.vscode/
ff_website/static/css/bootstrap.*
ff_website/static/css/bootstrap-grid.*
ff_website/static/css/bootstrap-reboot.*
ff_website/static/js/bootstrap.*
env/
instance/
ff_website.egg-info/
sitemap.txt
ff_website/credentials.py
ff_website/data/backups/*
ff_website/data/power_rankings/*
ff_website/data/credentials.py
ff_website/static/jarrett_reports/*