html,
body {
  height: 100%;
}

body {
  padding-top: 55px;
  background-color: lightgray;
}

#home {
  background: url("../img/college-football-general.jpg") no-repeat center center
    fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.avi {
  min-height: 10rem;
  min-width: 10rem;

  max-height: 90%;
  max-width: 90%;
  margin: auto;
  display: block;
  border-radius: 2rem;
}

#members {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  margin: auto;
}

.no-side-padding {
  padding: 0px;
}

.content-home {
  padding-top: 1rem;
  width: 60%;
  background-color: white;
}

.content {
  padding-top: 1rem;
  border-radius: 0.5rem;
  width: 60%;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 550px) {
  .content {
    width: 100%;
  }
}

@media (min-width: 550px) and (max-width: 1000px) {
  .content {
    width: 80%;
  }
}

.ql {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  /* margin: auto; */
}

.ql-img {
  height: 5rem;
  width: 5rem;
}

hr {
  border: 0.25px solid black;
  width: 5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.member-card {
  padding: 1rem;
  justify-content: center;
  text-align: center;
}

.message {
  margin: auto;
  margin-top: 16px;
  max-width: 700px;
  text-align: center;
}
