html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 55px;
}

#home {
  background: url("../img/college-football-general.jpg") no-repeat center center
    fixed;
  display: table;
  height: 80%;
  position: relative;
  width: 100%;
  background-size: cover;
}

#stafford {
  background: url("../img/staffy.jpg") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.avi {
  min-height: 10rem;
  min-width: 10rem;
  max-height: 90%;
  max-width: 90%;
  margin: auto;
  display: block;
}

.buffer {
  padding-bottom: 20px;
  text-align: center;
}

#members {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  margin: auto;
}

.no-side-padding {
  padding: 0px;
}
