.content-section {
  background: white;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.form-control.is-invalid {
  background-image: none;
}

#matchup-summary {
  margin: 1rem;
}
