.content-section {
  background: white;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.form-control.is-invalid {
  background-image: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#matchup-summary {
  margin: 1rem;
  font-size: 1.25rem;
}

th.no-color:first-child,
td.no-color:first-child {
  position: sticky;
  left: 0px;
  background-color: lightgray;
}

.small-pic {
  height: 10rem;
  width: 10rem;
}

.submit-button {
  margin: 0 auto;
}

th {
  text-align: center;
}

td,
tr,
th {
  border: none;
  font-size: small;
}

th {
  background-color: lightgray;
}

td,
th {
  white-space: nowrap;
}

table {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 15px;
}

a:active {
  text-decoration: none;
}
