.season_intro {
  font-size: 1rem;
}

.thumbnail {
  height: 100%;
  width: 100%;
  max-width: 75px;
  max-height: 75px;
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  margin: 0;
}

.triangle-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid green;
  display: inline-block;
}

.triangle-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 18px solid red;
  display: inline-block;
  margin: auto;
}

.post {
  padding: 20px;
  border: 2px solid lightgray;
  border-radius: 0.5rem;
}

.post-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.post-title-underline {
  width: 100%;
  background-color: lightgray;
  height: 1px;
  border: none;
  margin-top: 0;
}
