.user_img {
  width: 90%;
  max-width: 20rem;
  max-height: 20rem;
  margin: 0;
  border-radius: 50px;
}

.bio-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bio-elem {
  padding-top: 1rem;
  font-size: 1.25rem;
}

.stat-title {
  text-decoration: underline;
}

.stat {
  margin-bottom: 2rem;
}

th:first-child,
td:first-child {
  position: sticky;
  left: 0px;
  background-color: lightgray;
}

.table td,
tr {
  text-align: center;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-default {
  border: none;
}
.panel-heading {
  padding: 20px 15px;
  border: none;
  border-radius: 0;
}
.panel-default > .panel-heading {
  color: #333;
  background: none;
  border-top: 1px solid #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}
.panel-heading .accordion-toggle::before {
  content: "\22c1";
  float: right;
  color: grey;
}

.separator {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0px;
}
