{% extends "layout.html" %}{% block content %}
<div class="container-fluid content">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="form-body">
        <div class="content-section">
          <form novalidate="novalidate" method="POST">
            <legend>Filter by specific qualities</legend>
            <fieldset class="form-group">
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    {{ form.filter.label(class="form-control-md") }} {% if
                    form.filter.errors %} {{ form.filter(class="form-control
                    form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.filter.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.filter(class="form-control
                    form-control-md") }} {% endif %}
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    {{ form.numberOfResults.label(class="form-control-md") }} {{
                    form.numberOfResults(class="form-control form-control-md")
                    }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group submit-button">
                  {{ form.submit(class="btn btn-outline-info")}}
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="table-responsive justify-content-center">
      {% if query_specified %} {{df|safe}} {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
