{% extends "layout.html" %} {% block content %}

<div class="container-fluid content">
  <div class="row justify-content-center text-center">
    <div class="col-lg-5 col-md-7 col-sm-10">
      <ul class="list-group">
        <a href="{{url_for('h2h')}}">
          <li class="list-group-item list-group-item-dark">
            Player H2H Comparison
          </li>
        </a>
        <a href="{{url_for('game_qualities')}}">
          <li class="list-group-item list-group-item-action">Game Qualities</li>
        </a>
        <a href="{{url_for('season_summary')}}">
          <li class="list-group-item list-group-item-action">Season Summary</li>
        </a>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-body">
        <div class="content-section">
          <form novalidate="novalidate" method="POST">
            <fieldset class="form-group">
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <legend>Select Two Members</legend>
              <div class="row">
                <div class="col-md-6 sol-sm-12">
                  <div class="form-group">
                    {{ form.leagueMemberOne.label(class="form-control-md") }} {%
                    if form.leagueMemberOne.errors %} {{
                    form.leagueMemberOne(class="form-control form-control-md
                    is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.leagueMemberOne.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.leagueMemberOne(class="form-control
                    form-control-md") }} {% endif %}
                  </div>
                </div>
                <div class="col-md-6 sol-sm-12">
                  <div class="form-group">
                    {{ form.leagueMemberTwo.label(class="form-control-md") }} {%
                    if form.leagueMemberTwo.errors %} {{
                    form.leagueMemberTwo(class="form-control form-control-md
                    is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.leagueMemberTwo.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.leagueMemberTwo(class="form-control
                    form-control-md") }} {% endif %}
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="row">
              <div class="col-12 text-center">
                <div class="form-group">
                  {{ form.submit(class="btn btn-outline-info")}}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if team_A_name %}
  <div class="row">
    <div class="col-12">
      <hr class="separator" />
      <h1>Head to Head Results</h1>
      <hr class="separator" />
    </div>
  </div>
  <div class="row text-center">
    <div class="col-6">
      <div class="card float-right h2h-card">
        <img
          class="card-img-top small-pic"
          src="{{url_for('static', filename='img/avatars/')}}{{team_A_img}}"
        />
        <div class="card-body">
          <p class="card-text">{{team_A_name}}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card float-left h2h-card">
        <img
          class="card-img-top small-pic"
          src="{{url_for('static', filename='img/avatars/')}}{{team_B_img}}"
        />
        <div class="card-body">
          <p class="card-text">{{team_B_name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-10 col-sm-12 text-center">
      {% if matchups_exist %}
      <p id="matchup-summary">
        {{team_A_name}} and {{team_B_name}} have played
        <b>{{num_matchups}}</b> {{num_times}} {% if tied %} with the series
        being tied <b>{{series_split}}</b>. {% else %} with
        {{series_winner_name}} holding a
        <b>{{series_split}} series lead</b> overall. {% endif %}
        <b>{{num_regular_matchups}}</b> of these matchups have come in the
        regular season, and <b>{{num_playoff_matchups}}</b> have been in the
        playoffs. The two teams have combined for a total of
        <b>{{total_points}}</b> points, with an average victory margin of
        <b>{{margin_of_victory}} for the winning team</b>. Currently,
        {{streak_holder}} holds a <b>{{streak_count}} game win streak</b> in the
        series.
      </p>
      {% else %}
      <p id="matchup-summary">No matchups found between these two members!</p>
      {% endif %}
    </div>
  </div>

  {% if matchups_exist %}
  <div class="col-12">
    <div class="table-responsive justify-content-center">{{df|safe}}</div>
  </div>
  {% endif %} {% endif %}
</div>
<script src="/static/js/dynamically_add_members.js"></script>
{% endblock content %}
