{% extends "layout.html" %} {% block content %}
<div id="home">
  <div class="landing-text">
    <h1>BOOTSTRAP</h1>
  </div>
</div>
<div id="members" class="container-fluid">
  <div class="row">
    <h1>Meet the league</h1>
  </div>
  <div class="row">
    {% for photo in photos %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 buffer">
      <img class="avi" src="{{photo}}" />
      <p class="name">Garrett</p>
    </div>
    {% endfor %}
  </div>
</div>
<div id="stafford">
  <div class="landing-text">
    <h1>BOOTSTRAP</h1>
  </div>
</div>

{% endblock content %}
