{% extends "layout.html" %} {% block content %}
<style>
  html,
  body {
    width: 100%;
    height: 100%;
  }
</style>

<div id="home">
  <div class="landing-text">
    <h1>BOOTSTRAP</h1>
  </div>
</div>
<div class="container-fluid content">
  <div class="row">
    {% for l in ql %}
    <div class="col-xl-3 col-md-6 col-sm-12 ql">
      <div class="row">
        <img src="{{l.img_file}}" class="ql-img mx-auto" />
      </div>
      <div class="row justify-content-center">
        <h5>{{l.title}}</h5>
      </div>
      <div class="row text-center justify-content-center">
        <hr />
        <p>{{l.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
