{% extends "layout.html" %}{% block content %} {% for file in files %}
<div
  class="modal fade"
  id="modal{{file.week}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Are you sure you want to delete this power rankings?
        </h5>
        <div class="modal-body">
          <p>The following ranking will be deleted: {{file.filename}}</p>
        </div>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No, go back.
        </button>
        <a
          href="{{url_for('delete_power_ranking', week=file.week, season=file.season)}}"
        >
          <button type="button" class="btn btn-primary">Yes</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="container-fluid content">
  <div class="row">
    <div class="col">
      <ul>
        {% for file in files %}
        <li style="padding-top: 5px; padding-bottom: 5px">
          {{file.filename}}&nbsp;
          <button
            class="btn btn-sm btn-danger"
            data-toggle="modal"
            data-target="#modal{{file.week}}"
          >
            Delete
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endblock content %}
</div>
