{% extends "layout.html" %} {% block content %}
<div class="container-fluid content">
  <div class="row justify-content-center text-center">
    <div class="col-lg-5 col-md-7 col-sm-10">
      <ul class="list-group">
        <a href="{{url_for('h2h')}}">
          <li class="list-group-item list-group-item-action">
            Player H2H Comparison
          </li>
        </a>
        <a href="{{url_for('game_qualities')}}">
          <li class="list-group-item list-group-item-action">Game Qualities</li>
        </a>
        <a href="{{url_for('season_summary')}}">
          <li class="list-group-item list-group-item-dark">Season Summary</li>
        </a>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-body">
        <div class="content-section">
          <form novalidate="novalidate" method="POST">
            <fieldset class="form-group">
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <legend>Select a year</legend>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    {{ form.year.label(class="form-control-md") }} {% if
                    form.year.errors %} {{ form.year(class="form-control
                    form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.year.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.year(class="form-control
                    form-control-md") }} {% endif %}
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="row">
              <div class="col-12 text-center">
                <div class="form-group">
                  {{ form.submit(class="btn btn-outline-info")}}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if year %}
  <div class="col-12">
    <hr class="separator" />
    <h2>Standings</h2>
    <hr class="separator" />
    <div class="table-responsive justify-content-center">
      {{standings|safe}}
    </div>
  </div>
  <div class="col-12">
    <hr class="separator" />
    <h2>Rotisserie Results</h2>
    <hr class="separator" />
    <div class="table-responsive justify-content-center">{{roto|safe}}</div>
  </div>
  <hr class="separator" />
  <h2>Regular Season Results</h2>
  <hr class="separator" />
  <div class="row">
    {% for week, results in all_weeks.items() %}
    <div class="col-lg-6 col-md-12">
      <div class="table-responsive justify-content-center">
        <h4>Week {{week}}</h4>
        {{results|safe}}
      </div>
    </div>
    {%endfor %}
  </div>
  <hr class="separator" />
  <h2>Playoff Results</h2>
  <hr class="separator" />
  <div class="row">
    {% for week, results in playoffs.items() %}
    <div class="col-12">
      <div class="table-responsive justify_content_center">
        <h4>{{week}}</h4>
        {{results|safe}}
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endif %} {% endblock content %}
