{% extends "layout.html" %}{% block content %}

<div class="container-fluid content h-75">
  <div class="row justify-content-center text-center">
    <div class="col-6">
      <div class="list-group">
        <a href="{{ url_for('create_member') }}" class="list-group-item">
          <h5 class="mb-1">Create a member</h5>
        </a>
        <a href="{{ url_for('create_game') }}" class="list-group-item">
          <h5 class="mb-1">Create a game</h5>
        </a>
        <a href="{{ url_for('list_members') }}" class="list-group-item">
          <h5 class="mb-1">Update a member</h5>
        </a>
        <a href="{{url_for('list_games') }}" class="list-group-item">
          <h5 class="mb-1">Update a game</h5>
        </a>
      </div>
      <hr class="separator" />
      <div class="list-group">
        <a
          href="{{ url_for('create_power_rankings') }}"
          class="list-group-item"
        >
          <h5 class="mb-1">Create Power Rankings</h5>
        </a>
      </div>
      <hr class="separator" />
      <div class="list-group">
        <a href="{{ url_for('add_games') }}" class="list-group-item">
          <h5 class="mb-1">Add all games</h5>
        </a>
        <a href="{{ url_for('add_league_members') }}" class="list-group-item">
          <h5 class="mb-1">Add all members</h5>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
