{% extends "layout.html" %}{% block content %}

<div class="container-fluid content">
  <hr class="separator" />
  <h1>Tools</h1>
  <hr class="separator" />
  <div class="row justify-content-center text-center">
    <div class="col-lg-6 col-sm-10">
      <div class="list-group">
        <a href="{{ url_for('create_member') }}" class="list-group-item">
          <h5 class="mb-1">Create a member</h5>
        </a>
        <a href="{{ url_for('create_game') }}" class="list-group-item">
          <h5 class="mb-1">Create a game</h5>
        </a>
        <a href="{{ url_for('list_members') }}" class="list-group-item">
          <h5 class="mb-1">Update a member</h5>
        </a>
        <a href="{{url_for('list_all_seasons') }}" class="list-group-item">
          <h5 class="mb-1">Update a game</h5>
        </a>
      </div>
      <hr class="separator" />
      <div class="list-group">
        <a
          href="{{ url_for('create_power_rankings') }}"
          class="list-group-item"
        >
          <h5 class="mb-1">Create Power Rankings</h5>
        </a>
      </div>
      <div class="list-group">
        <a
          href="{{ url_for('list_all_power_rankings') }}"
          class="list-group-item"
        >
          <h5 class="mb-1">Delete a Power Ranking</h5>
        </a>
      </div>
      <hr class="separator" />
      <div class="list-group">
        <a href="{{ url_for('list_all_users') }}" class="list-group-item">
          <h5 class="mb-1">Update users</h5>
        </a>
      </div>
      <hr class="separator" />
      <div class="list-group">
        <a
          href="{{ url_for('create_jarrett_report') }}"
          class="list-group-item"
        >
          <h5 class="mb-1">Create Jarrett Report</h5>
        </a>
      </div>
      <hr class="separator" />
      <div class="list-group mb-4">
        <a href="{{ url_for('add_games') }}" class="list-group-item">
          <h5 class="mb-1">Add all games</h5>
        </a>
        <a href="{{ url_for('add_league_members') }}" class="list-group-item">
          <h5 class="mb-1">Add all members</h5>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
