{% extends "layout.html" %} {% block content %}
<div class="container-fluid content">
  <div class="row">
    <div class="col-6">
      <img
        src="{{url_for('static', filename='img/gmf.jpg')}}"
        class="user_img d-block mx-auto"
      />
    </div>
    <div class="col-6" id="bio">
      <h1>Garrett Folbe</h1>
      <ul class="bio-group">
        <li class="bio-elem"><b>Year Joined:&nbsp;</b>2019</li>
        <li class="bio-elem"><b>Most Recent Season:&nbsp;</b>2019</li>
        <li class="bio-elem"><b>Championships:&nbsp;</b>2 (2011, 2019)</li>
        <li class="bio-elem">
          <b>Playoff Appearances:&nbsp;</b>5 (2011, 2012, 2014, 2019, 2020)
        </li>
        <li class="bio-elem"><b>Nicknames:&nbsp;</b>NN</li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin: auto">
    <h1>RECORDS</h1>
    <div class="row align-items-top" id="stats">
      <div class="col-md-12 text-center stat">
        <h5 class="stat-title">Number Of Games (Total)</h5>
        <h1>60</h1>
      </div>
      <div class="col-md-12 text-center stat">
        <h5 class="stat-title">Regular Season Record</h5>
        <h1>32-28 (60.5%)</h1>
      </div>
      <div class="col-md-12 text-center stat">
        <h5 class="stat-title">Playoff Record</h5>
        <h1>4-3 (60.5%)</h1>
      </div>
      <div class="col-md-12 text-center stat">
        <h5 class="stat-title">All-time Points Scored</h5>
        <h1>1500.4</h1>
      </div>
      <div class="col-md-12 text-center stat">
        <h5 class="stat-title">Most Points Scored in a Single Game</h5>
        <h1>136.6</h1>
        <small>2019</small>
      </div>
      <div class="col-md-12 text-center stat">
        <h5 class="stat-title">Most Points Scored in a Single Season</h5>
        <h1>2000.4</h1>
        <small>2019</small>
      </div>
      <div class="col-md-12 text-center stat">
        <h5 class="stat-title">Best Season</h5>
        <h1>13-2 (85.9)</h1>
        <small>2019</small>
      </div>
      <div class="col-md-12 text-center stat">
        <h5 class="stat-title">Biggest Win</h5>
        <h1>100-43</h1>
        <small>2019 - Week 13 vs. Jarrett</small>
      </div>
    </div>
  </div>
  <h1>List of seasons</h1>
  <div class="row">
    <div class="col-12">
      <div
        class="table-responsive-sm table-responsive-md table-responsive justify-content-center"
      >
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Season</th>
              <th scope="col">Reg. Season Record</th>
              <th scope="col">Ovr. Record</th>
              <th scope="col">TPF</th>
              <th scope="col">TPA</th>
              <th scope="col">Top Half Finshes</th>
              <th scope="col">Playoffs</th>
              <th scope="col">Reg. Season Finish</th>
              <th scope="col">Ovr. Finish</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2020</th>
              <td>12-3</td>
              <td>12-3</td>
              <td>1200</td>
              <td>1500</td>
              <td>4</td>
              <td>Yes</td>
              <td>5th</td>
              <td>5th</td>
            </tr>
            <tr>
              <th scope="row">2020</th>
              <td>12-3</td>
              <td>12-3</td>
              <td>1200</td>
              <td>1500</td>
              <td>4</td>
              <td>Yes</td>
              <td>5th</td>
              <td>5th</td>
            </tr>
            <tr>
              <th scope="row">2020</th>
              <td>12-3</td>
              <td>12-3</td>
              <td>1200</td>
              <td>1500</td>
              <td>4</td>
              <td>Yes</td>
              <td>5th</td>
              <td>5th</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>THIS IS A TEST</h1>
  </div>
</div>
{% endblock content %}
