{% extends "layout.html" %} {% block content %}
<div class="container-fluid content">
  <div class="row">
    <div class="col-lg-5 col-md-12">
      <img
        src="{{url_for('static', filename='img/gmf.jpg')}}"
        class="user_img d-block mx-auto"
      />
    </div>
    <div class="col-lg-7 col-md-12" id="bio">
      <h1>Garrett Folbe</h1>
      <ul class="bio-group">
        <li class="bio-elem"><b>Year Joined:&nbsp;</b>2019</li>
        <li class="bio-elem"><b>Most Recent Season:&nbsp;</b>2019</li>
        <li class="bio-elem"><b>Championships:&nbsp;</b>2 (2011, 2019)</li>
        <li class="bio-elem">
          <b>Playoff Appearances:&nbsp;</b>5 (2011, 2012, 2014, 2019, 2020)
        </li>
        <li class="bio-elem"><b>Nicknames:&nbsp;</b>NN</li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin: auto">
    <h1 style="margin-bottom: 1rem">RECORDS</h1>
    <div class="row align-items-top" id="stats">
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">Number Of Games (Total)</h5>
        <h2>60</h2>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">Regular Season Record</h5>
        <h2>32-28 (60.5%)</h2>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">Playoff Record</h5>
        <h2>4-3 (60.5%)</h2>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">All-time Points Scored</h5>
        <h2>1500.4</h2>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">
          Most Points Scored<br />
          in a Single Game
        </h5>
        <h2>136.6</h2>
        <small>2019</small>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">
          Fewest Points Scored<br />
          in a Single Game
        </h5>
        <h2>136.6</h2>
        <small>2019</small>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">
          Most Points Scored<br />
          in a Single Season
        </h5>
        <h2>2000.4</h2>
        <small>2019</small>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">
          Fewest Points Scored<br />
          in a Single Season
        </h5>
        <h2>2000.4</h2>
        <small>2019</small>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">Best Season</h5>
        <h2>13-2 (85.9%)</h2>
        <small>2019</small>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">Worst Season</h5>
        <h2>13-2 (85.9%)</h2>
        <small>2019</small>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">Biggest Win</h5>
        <h2>100-43</h2>
        <small>2019 - Week 13 vs. Jarrett</small>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">Worst Loss</h5>
        <h2>100-43</h2>
        <small>2019 - Week 13 vs. Jarrett</small>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">Longest Win Streak</h5>
        <h2>6 games</h2>
        <small>2019 - Week 13 to 2020 - Week 4</small>
      </div>
      <div class="col-xl-4 col-md-6 text-center stat">
        <h5 class="stat-title">Longest Losing Streak</h5>
        <h2>6 games</h2>
        <small>2019 - Week 13 to 2020 - Week 4</small>
      </div>
      <div class="col-xl-4 col-md-12 text-center stat">
        <h5 class="stat-title">Current Streak</h5>
        <h2>W6</h2>
      </div>
    </div>
  </div>
  <h1>Season Summaries</h1>
  <div class="row">
    <div class="col-12">
      <div
        class="table-responsive-sm table-responsive-md table-responsive-xs table-responsive justify-content-center"
      >
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Season</th>
              <th scope="col">Reg. Season Record</th>
              <th scope="col">Ovr. Record</th>
              <th scope="col">TPF</th>
              <th scope="col">TPA</th>
              <th scope="col">Top Half Finshes</th>
              <th scope="col">Playoffs</th>
              <th scope="col">Reg. Season Finish</th>
              <th scope="col">Ovr. Finish</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2020</th>
              <td>12-3</td>
              <td>12-3</td>
              <td>1200</td>
              <td>1500</td>
              <td>4</td>
              <td>Yes</td>
              <td>5th</td>
              <td>5th</td>
            </tr>
            <tr>
              <th scope="row">2020</th>
              <td>12-3</td>
              <td>12-3</td>
              <td>1200</td>
              <td>1500</td>
              <td>4</td>
              <td>Yes</td>
              <td>5th</td>
              <td>5th</td>
            </tr>
            <tr>
              <th scope="row">2020</th>
              <td>12-3</td>
              <td>12-3</td>
              <td>1200</td>
              <td>1500</td>
              <td>4</td>
              <td>Yes</td>
              <td>5th</td>
              <td>5th</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h1>List of Seasons</h1>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a
                  class="accordion-toggle"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseOne"
                >
                  2019 Season
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <div
                  class="table-responsive-sm table-responsive-md table-responsive-xs table-responsive justify-content-center"
                >
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Week</th>
                        <th scope="col">Format</th>
                        <th scope="col">Opponent</th>
                        <th scope="col">Result</th>
                        <th scope="col">Score</th>
                        <th scope="col">Record</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-success">
                        <td>1</td>
                        <td>Regular Season</td>
                        <td>Noah Nathan</td>
                        <td>Win</td>
                        <td>100-99</td>
                        <td>1-0</td>
                      </tr>
                      <tr class="table-success">
                        <td>1</td>
                        <td>Regular Season</td>
                        <td>Noah Nathan</td>
                        <td>Win</td>
                        <td>100-99</td>
                        <td>1-0</td>
                      </tr>
                      <tr class="table-danger">
                        <td>1</td>
                        <td>Regular Season</td>
                        <td>Noah Nathan</td>
                        <td>Loss</td>
                        <td>100-99</td>
                        <td>1-0</td>
                      </tr>
                      <tr class="table-success">
                        <td>1</td>
                        <td>Regular Season</td>
                        <td>Noah Nathan</td>
                        <td>Win</td>
                        <td>100-99</td>
                        <td>1-0</td>
                      </tr>
                      <tr class="table-danger">
                        <td>1</td>
                        <td>Regular Season</td>
                        <td>Noah Nathan</td>
                        <td>Win</td>
                        <td>100-99</td>
                        <td>1-0</td>
                      </tr>
                      <tr class="table-success">
                        <td>1</td>
                        <td>Regular Season</td>
                        <td>Noah Nathan</td>
                        <td>Win</td>
                        <td>100-99</td>
                        <td>1-0</td>
                      </tr>
                      <tr class="table-danger">
                        <td>1</td>
                        <td>Regular Season</td>
                        <td>Noah Nathan</td>
                        <td>Win</td>
                        <td>100-99</td>
                        <td>1-0</td>
                      </tr>
                      <tr class="table-success">
                        <td>1</td>
                        <td>Regular Season</td>
                        <td>Noah Nathan</td>
                        <td>Win</td>
                        <td>100-99</td>
                        <td>1-0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    class="accordion-toggle"
                    data-toggle="collapse"
                    href="#collapseTwo"
                  >
                    2018 Season
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <div
                    class="table-responsive-sm table-responsive-md table-responsive-xs table-responsive justify-content-center"
                  >
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Week</th>
                          <th scope="col">Format</th>
                          <th scope="col">Opponent</th>
                          <th scope="col">Result</th>
                          <th scope="col">Score</th>
                          <th scope="col">Record</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-danger">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Loss</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-danger">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-danger">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    class="accordion-toggle"
                    data-toggle="collapse"
                    href="#collapseThree"
                  >
                    2017 Season
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <div
                    class="table-responsive-sm table-responsive-md table-responsive-xs table-responsive justify-content-center"
                  >
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Week</th>
                          <th scope="col">Format</th>
                          <th scope="col">Opponent</th>
                          <th scope="col">Result</th>
                          <th scope="col">Score</th>
                          <th scope="col">Record</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-danger">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Loss</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-danger">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-danger">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                        <tr class="table-success">
                          <td>1</td>
                          <td>Regular Season</td>
                          <td>Noah Nathan</td>
                          <td>Win</td>
                          <td>100-99</td>
                          <td>1-0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
